.kt-subheader{
    margin: 30px 0!important;
}
.toast-warning{
    background-color: #efa200;
}

.table-responsive{
    overflow-x: visible !important;
    overflow-y: auto;
}
table{
    white-space: nowrap;
}
.table th, .table td{
    vertical-align: middle;
}

.hidden{
    display: none;
}
.col-form-label{
    padding-right: 20px;
}
.toast-title{
    font-weight: bold!important;
    color: #FFF!important;
}
.select2{
    width: 100%!important;
    height: 100%!important;
}
.select2{
    width: 100%!important;
    height: 100%!important;
}
.select2-selection{
    height: 100%!important;
}
.hidden{
    display: none;
}
.select2-container--default .select2-results__option.select2-results__option--highlighted{
    background: #e4edff;
}
.kt-portlet .kt-portlet__body{
    padding: 25px 50px 25px 25px;
}
.question_bubble{
    position: absolute; right: -15px; top: 10px; font-size: 15px; color: #8472FF;
    z-index: 9;
}
